.attribution {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	gap: 1pt;
	text-align: center;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 0.349);
	backdrop-filter: blur(10px);
	position: fixed;
	top: 0;
	left: 0;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.wrapper {
	display: flex;
	width: 100vw;
	height: 100dvh;
	padding: 9.5rem 0rem 9.4375rem 0rem;
	justify-content: center;
	align-items: center;

	background: var(--light-grey, #d5e1ef);
}
