@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	font-family: Outfit, sans-serif;
	box-sizing: border-box;
}

::root {
	--light-grey: #d5e1ef;
	--white: #fff;
	--dark-navy: #1f314f;
	--grey: #7d889e;
	--blue-shade: #3685ff;
}
